body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1;
  color: var(--color-font-primary);
  background-color: var(--color-bg-primary);
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* для використання loader використовуємо <span class="loader"></span>
код нижче не змінюємо
для визначення розміру "свого" loader додаємо до спну клас з розмірами, наприклад
.header-loader {
width: 48px;
height: 48px;
} */

.loader {
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--color-font-primary);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
