/* ================================== Mobile First ==================================*/

.footer {
  padding: 40px 0 10px;
  background-color: var(--color-bg-secondary);
}
.footer-logo-icon {
  opacity: 1;
  fill: var(--color-secondary);
}
.footer-social-list {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.footer-social-link {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--color-font-transparrent-7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-primary);
}
.footer-social-icon {
  opacity: 0.8;
  fill: var(--color-secondary);
  transition: fill var(--transition-primary);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-secondary);
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--color-primary);
  opacity: 0.8;
}
.footer-title {
  opacity: 1;
  max-width: 365px;
  margin-top: 40px;
  color: var(--color-secondary);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.footer-title-span {
  display: inline-block;
  transform-style: preserve-3d;
  opacity: 1;
  color: var(--color-secondary);
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.02em;
}
.footer-form {
  max-width: 335px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fotter-form-title {
  color: var(--color-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.footer-form > input {
  font-size: 14px;
  line-height: 18px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-secondary);
  transition: all var(--transition-primary);
}
.footer-form > input:focus,
.footer-form > input:hover {
  outline: none;
  background-color: #3e3d3d;
}
.footer-form-btn {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--color-secondary);
  color: var(--color-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  transition: all var(--transition-primary);
}
.footer-form-btn:hover {
  outline: none;
  background-color: var(--color-font-grey);
  font-weight: 500;
}
.footer-form-btn:active {
  outline: var(--color-primary);
  background-color: (--color-font-secondary);
  color: var(--color-secondary);
}
.footer-privacy-policy-text {
  margin-top: 120px;
  color: var(--color-font-grey);
  opacity: 0.9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
}
.footer-privacy-policy-info {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.footer-privacy-policy-list {
  display: flex;
  gap: 8px;
}
.footer-privacy-policy-item {
  text-decoration: none;
  color: var(--color-font-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
}
.footer-privacy-policy-link {
  text-decoration: none;
  color: var(--color-font-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  transition: all var(--transition-primary);
}
.footer-privacy-policy-link:hover,
.footer-privacy-policy-link:focus {
  color: var(--color-secondary);
}
.footer-privacy-policy-year {
  color: var(--color-font-grey);
  opacity: 0.9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 6px;
  }
  .footer-container-title {
    justify-content: space-between;
    display: flex;
  }
  .footer-social-list {
    margin-top: 32px;
  }
  .footer-social-icon {
    width: 28px;
    height: 28px;
  }
  .footer-title {
    max-width: 448px;
    margin-top: 0;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }
  .footer-title-span {
    font-size: 56px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.02em;
  }
  .footer-form {
    margin-top: 32px;
    max-width: 350px;
    margin-left: 256px;
  }
  .fotter-form-title {
    font-size: 18px;
    line-height: 24px;
  }
  .footer-form > input {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-form-btn {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-privacy-policy {
    margin-top: 100px;
    display: flex;
  }
  .footer-privacy-policy-info {
    margin-top: 0;
    gap: 208px;
    white-space: nowrap;
  }
  .footer-privacy-policy-text {
    margin-top: 0;
    margin-right: 58px;
    white-space: nowrap;
  }
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1440px) {
  .footer {
    padding-bottom: 16px;
  }
  .footer-container-title {
    justify-content: unset;
    gap: 158px;
  }
  .footer-container {
    display: flex;
    gap: 158px;
  }
  .footer-title {
    max-width: 554px;
  }
  .footer-form {
    margin: 0;
    width: 350px;
  }
  .footer-privacy-policy {
    margin-top: 54px;
  }
  .footer-privacy-policy-text {
    margin-right: 130px;
  }
  .subscribe-btn {
    margin-left: 15px;
    display: block;
    background-color: unset;
    border: none;
    color: var(--color-font-grey);
    transition: all var(--transition-primary);
  }
  .footer-privacy-policy-year {
    margin-left: 290px;
  }
}
