.header {
  padding: 20px 0;
  background-color: var(--color-bg-primary);
}

.header__box {
  height: 100%;
  display: flex;
  justify-content: center;
}

.logo__icon {
  align-self: center;
  flex-shrink: 0;

  width: 132px;
  height: 24px;

  fill: var(--color-font-primary);
}

.navigation {
  display: none;
}

.button {
  padding: 8px;

  background-color: transparent;

  font-family: DM Sans;
  font-size: 14px;
  line-height: 18px; /* 128.571% */
  color: var(--color-font-secondary);
}

.social-box {
  display: none;
}

.burger-menu-btn {
  display: flex;
  align-items: center;

  width: 32px;
  height: 32px;

  padding: 0;
  margin-left: auto;

  border: transparent;
  background-color: transparent;

  line-height: 0;

  stroke: var(--color-font-primary);
}

/* ========== mobile menu ========== */
.mobile-backdrop {
  position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	width: 100%;
	height: 100%;
	background-color: var(--color-backdrop);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	transition: opacity 500ms ease-in-out 200ms, visibility 500ms ease-in-out 200ms;
}

.mobile-backdrop.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
	transition-delay: 0ms;
}

.mobile-menu-container {
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-left: auto;
	padding: 20px 0;

	max-width: 210px;
	width: 100%;
	height: 100%;
	background-color: var(--color-font-primary);
	color: var(--color-font-secondary);

	transform: translateX(100%);
	transition: transform var(--transition-primary);
}

.mobile-backdrop.is-open .mobile-menu-container {
	transform: translateX(0);
}

.close-menu-btn {
  position: absolute;
	top: 20px;
	right: 20px;

  width: 32px;
  height: 32px;

  flex-shrink: 0;

  padding: 0;
  margin-left: auto;

  background-color: transparent;

  stroke: var(--color-secondary);
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  margin-top: auto;
  margin-bottom: auto;

  background-color: transparent;
}

.mobile-social-box {
  display: inline-flex;
  align-items: flex-start;
}

.mobile-social-list {
  display: flex;
  gap: 12px;
}

.mobile-social-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  padding: 8px;

  border-radius: 10px;
  border: 1px solid var(--color-secondary);

  fill: var(--color-secondary);
}
/* ========== /mobile menu ========== */

/* ========== tablet ========== */
@media screen and (min-width: 768px) {
  .mobile-backdrop {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 233px;
    height: 52px;
    
    padding: 8px 34px;
    
    margin-right: auto;
    margin-left: auto;
    
    border-radius: 60px;
    
    background-color: var(--color-font-primary);
  }

  .social-box {
    display: inline-flex;
    align-items: flex-start;
  }

  .social-list {
    display: flex;
    gap: 12px;
  }

  .social-item {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 10px;
    border: 1px solid var(--color-font-transparrent-1);

    stroke: var(--color-font-primary);
  }

  .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding: 6px 12px;
    
    border-radius: 30px;
    background: var(--color-font-secondary);
    
    cursor: pointer;

    color: var(--color-font-primary);

    font-family: DM Sans;
    font-size: 16px;
    line-height: 24px; /* 150% */
  }

  .burger-menu-btn {
    display: none;
  }
}
/* ========== /tablet ========== */

/* ========== desktop ========== */
@media screen and (min-width: 1440px) {
  
  .navigation {
    width: 265px;
  
    padding: 8px 50px;
  }
}
/* ========== /desktop ========== */