/* ================================== Mobile First ==================================*/

.hero {
  padding-top: 60px;
}

.hero-logo-icon {
  vertical-align: middle;
  width: 38px;
  height: 38px;
}
.hero-title {
  margin-bottom: 20px;
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -0.76px;
}
.hero-second-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}
.hero-img {
  margin-bottom: 20px;
  border-radius: 30px;
}
.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  text-align: center;
}
.hero-list-item {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 26px;
  border-radius: 30px;
  border: 1px solid var(--color-font-primary);
}
.hero-item-text {
  padding-left: 11px;
  padding-right: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.hero-list-img {
  display: none;
}

/* ================================== Tablet Style ==================================*/
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }
  .hero-logo-icon {
    width: 59px;
    height: 59px;
    margin-right: -10px;
  }
  .hero-title {
    text-align: left;
    font-size: 74px;
    line-height: 1;
    letter-spacing: -1.48px;
  }
  .hero-second-title {
    max-width: 528px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
  .hero-img {
    margin-bottom: 16px;
    border-radius: 60px;
  }

  .hero-list {
    display: flex;
    gap: 8px;
    justify-content: end;
    text-align: center;
  }

  .hero-list-item {
    height: 32px;
  }

  .hero-item-text {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 1.5;
  }
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1440px) {
  .hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .logo-title-wrapper {
    display: flex;
    flex-direction: column;
  }

  .img-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    order: 1;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .hero-list {
    max-width: 210px;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  .hero-picture-wrapper {
    order: 2;
  }
  .hero-list-img {
    display: block;
  }
  .hero-list-img {
    border-radius: 20px;
  }
  .hero-img {
    margin-bottom: 0;
  }
}

/* :root {
  --color-font-primary: #242424;
  --color-font-secondary: #f4f4f4;
  --color-font-grey: #c6cdd1;
  --color-font-transparrent-1: rgba(36, 36, 36, 0.6);
  --color-font-transparrent-2: rgba(244, 244, 244, 0.4);

  --color-bg-primary: #f4f4f4;
  --color-bg-secondary: #242424;
  --color-bg-third: #ffffff;

  --color-layer: rgba(0, 0, 0, 0.4);

  --color-primary: #242424;
  --color-secondary: #f4f4f4;
  --color-yellow: #eea10c;

  --transition-primary: 0.3s ease-in-out;
} */
