/* Styles for the modal */

.main-modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-backdrop);
  justify-content: center;
  align-items: center;
}

.main-modal {
  position: relative;
  background-color: var(--color-font-primary);
  color: var(--color-font-secondary);
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 20px;
  width: 335px;
  border-radius: 20px;
}

.main-modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.main-modal-close-icon {
  width: 24px;
  height: 24px;
  stroke: var(--color-font-secondary);
}

.main-modal-close-icon:hover {
  stroke: var(--color-font-transparrent-3);
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-font-secondary);
}

.main-modal-gif-wrapper {
  position: relative;
  width: 295px;
  height: 258px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.main-modal-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.main-modal-gif-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(4, 4, 4, 0.2) 0%,
    rgba(4, 4, 4, 0.2) 100%
  );
}

.main-modal-card-title {
  font-family: var(--main-font);
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.main-modal-rating-container {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-font-transparrent-4);
}

.main-modal__rating {
  color: inherit;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.main-modal-star-wrapper {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

.main-modal__star-icon {
  width: 14px;
  height: 14px;
  fill: var(--color-font-transparrent-4);
  stroke: transparent;
}

.main-modal-colored-star {
  fill: var(--color-yellow);
}

.main-modal-details-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-modal-details-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.main-modal-calories {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-font-transparrent-4);
}

.main-modal-details-title {
  color: var(--color-font-transparrent-5);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

.main-modal-details-title:nth-child(2) {
  width: 55px;
}

.main-modal-details-info {
  color: var(--color-font-secondary);
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.main-modal-description {
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--color-font-transparrent-6);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.main-modal-btns-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-modal-btn {
  display: flex;
  align-items: center;
  height: 42px;
  border-radius: 30px;
  padding: 12px 19px;
}

.main-modal-fav-btn {
  background-color: var(--color-font-secondary);
  color: var(--color-font-primary);
  border: none;
}

.main-modal-fav-btn:hover {
  background-color: var(--color-font-primary);
  color: var(--color-bg-primary);
  border: 1px solid var(--color-bg-primary);
}

.main-modal-rating-btn {
  background-color: var(--color-font-primary);
  color: var(--color-bg-primary);
  border: 1px solid var(--color-bg-primary);
}

.main-modal-rating-btn:hover {
  background-color: var(--color-font-secondary);
  color: var(--color-font-primary);
  border: 1px solid var(--color-bg-primary);
}

.main-modal-btn-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.main-modal-fav-btn-text {
  margin-right: 8px;
}

.main-modal-heart-icon {
  stroke: var(--color-font-primary);
  fill: none;
  width: 18px;
  height: 18px;
}

.main-modal-fav-btn:hover > .main-modal__heart-icon {
  stroke: var(--color-font-secondary);
}

@media screen and (min-width: 768px) {
  .main-modal {
    margin-left: 32px;
    margin-right: 32px;
    padding: 32px;
    width: 704px;
  }

  .main-modal-close {
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
  }

  .main-modal-close-icon {
    width: 28px;
    height: 28px;
  }
  .main-modal-main-container {
    display: flex;
  }

  .main-modal-content-wrapper {
    margin-left: 32px;
    width: 338px;
    height: auto;
    margin-bottom: 64px;
  }

  .main-modal-gif-wrapper {
    width: 270px;
    height: 259px;
    margin-bottom: 0;
  }

  .main-modal-rating-container {
    padding-bottom: 16px;
  }

  .main-modal-details-container {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .main-modal-calories {
    padding-bottom: 8px;
  }

  .main-modal-btns-wrapper {
    justify-content: flex-end;
  }

  .main-modal-fav-btn {
    margin-right: 7px;
  }

  .main-modal-description {
    margin-bottom: 0;
  }

  .main-modal-card-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .main-modal-btn-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .main-modal {
    margin-left: 366px;
    margin-right: 366px;
    width: 708px;
  }
}
