/* ================================== Mobile First ==================================*/

.quote-section-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quote-section-item {
  display: flex;
  flex-direction: row;
  gap: 18px;
  border-radius: 20px;
  max-width: 335px;
}

.quote-running-icon {
  fill: var(--color-font-secondary);
}

.quote-inverted-commas-icon {
  fill: var(--color-font-secondary);
}

.quote-dumbbell-icon {
  /* stroke: white;
  fill: var(--color-primary); */
}

.quote-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.quote-section-item-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.quote-section-item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.quote-section-item-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.quote-of-the-day {
  background-color: var(--color-bg-secondary);
  padding: 20px;
}

.quote-text {
  color: var(--color-secondary);
  margin-bottom: 8px;
}

.quote-text-grey {
  color: rgba(244, 244, 244, 0.6);
  margin-bottom: 16px;
}

.info-title {
  color: var(--color-font-transparrent-1);
  margin-bottom: 16px;
}

.info-time {
  margin-bottom: 2px;
}

.info-text {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: auto;
  height: 105px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera  */
.info-text::-webkit-scrollbar {
  display: none;
}

.info-item {
  background-color: #ffffff;
  padding: 20px;
}

.info-wrapper {
  min-width: 0;
}

.quote-section-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) {
  .quote-section-list {
    display: flex;
    flex-direction: row;
    /* align-items: start; */
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }
  .quote-section-item-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
  }
  .quote-section-item-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
  .quote-text {
    margin-bottom: 6px;
  }

  .quote-text-grey {
    margin-bottom: 18px;
  }
  .info-title {
    margin-bottom: 20px;
  }
  .info-text {
    height: 93px;
  }
  .quote-of-the-day {
    min-width: 400px;
    height: 249px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .quote-of-the-day::-webkit-scrollbar {
    display: none;
  }
  .info-item {
    min-width: 400px;
  }
}

/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1440px) {
  .quote-section-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .quote-section-item {
    min-width: 444px;
  }
  .quote-text-grey {
    margin-bottom: 8px;
  }
  .info-text {
    overflow: visible;
    height: 100%;
  }
}
