<div class="categories categories--section">
  <div class="categories__cards">
    <ul class="categories__cards-list list js-categories-container"></ul>
    <ul class="sceleton-loader js-sceleton-loader categories__cards-list">
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
      <li class="sceleton-block categories__card-item">
        <div class="sceleton-title-holder"></div>
        <div class="sceleton-text-holder"></div>
      </li>
    </ul>
  </div>
</div>
