<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Energy - Categories</title>
  </head>
  <body>
    <div class="categories __container categories--section">
      <div class="categories__menu">
        <ul class="categories__menu-list list">
          <li class="categories__menu-item current">Muscles</li>
          <li class="categories__menu-item">Body parts</li>
          <li class="categories__menu-item">Equipment</li>
        </ul>
      </div>

      <div class="categories__cards">
        <ul class="categories__cards-list list">
          <li class="categories__card-item">
            <h2 class="categories_card-title">Abductors</h2>
            <p class="categories__card-text">Muscles</p>
          </li>
          <li class="categories__card-item">
            <h2 class="categories_card-title">Abductors</h2>
            <p class="categories__card-text">Muscles</p>
          </li>
          <li class="categories__card-item">
            <h2 class="categories_card-title">Abductors</h2>
            <p class="categories__card-text">Muscles</p>
          </li>
          <li class="categories__card-item">
            <h2 class="categories_card-title">Abductors</h2>
            <p class="categories__card-text">Muscles</p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
