<div class="categories categories--section">
  <div class="categories__cards">
    <ul class="categories__cards-list list">
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
      <li class="categories__card-item">
        <h2 class="categories_card-title">Abductors</h2>
        <p class="categories__card-text">Muscles</p>
      </li>
    </ul>
  </div>
</div>
