<section class="favorites">
    <div class="favorites__container">
      <h1 class="favorites-head">Favorites</h1>
      <!-- <load ="partials/quote-favorites.html" /> -->
      <load ="/src/partials/quote-favorites.html" />

      <div class="exercises-partial">
        <ul class="card">
          <li class="card-item">
            <div class="card-menu">
              <div class="card-menu-box">
                <div class="card-menu-workout">WORKOUT</div>
                <div class="card-menu-trash">
                  <svg id="card-menu-trash-icon" class="card-menu-trash-icon" width="16" height="16">
                    <use href="${icons}#icon-trash"></use>
                  </svg>
                </div>
              </div>
              <div class="card-menu-start">
                <p class="card-menu-start-text">Start</p>
                <svg
                  id="card-menu-start-icon" class="card-menu-start-icon" width="16" height="16">
                  <use href="${icons}#icon-arrow-right"></use>
                </svg>
              </div>
            </div>

            <div class="card-title">
              <div class="card-title-icon-box">
                <svg
                  id="card-title-icon"
                  class="card-title-icon"
                  width="24"
                  height="24"
                >
                  <use href="${icons}#icon-run"></use>
                </svg>
              </div>
              <p class="card-title-text">${name}</p>
            </div>

            <div class="card-info">
              <div class="card-info-about">
                <!-- <p class="card-info-about-name">Burned calories:</p>
                <div class="card-info-about-value">${burnedCalories} / ...</div> -->
                <p class="ecard-info-about-name">Burned calories: <span class="card-info-about-value">312 / 3 min</span></p>
              </div>
              <div class="card-info-about">
                <!-- <p class="card-info-about-name">Body part:</p>
                <div class="card-info-about-value">${bodyPart}</div> -->
                <p class="card-info-about-name">Body part: <span class="card-info-about-value">Waist</span></p>
              </div>
              <div class="card-info-about">
                <!-- <p class="card-info-about-name">Target:</p>
                <div class="card-info-about-value">${target}</div> -->
                <p class="card-info-about-name">Target: <span class="card-info-about-value">Abs</span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</section>