<section class="favorites">
  <div class="favorites__container">
    <h1 class="favorites-head">Favorites</h1>
    <div class="favorites-content">
      <load ="partials/quote-favorites.html" />
      <div>
        <div class="exercises-partial">
          <ul class="favorites-cards list js-exercise-favorites">

          </ul>
        </div>
        <p class="error-message visually-hidden js-favorites-error">
          It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your favorites for easier access in the future.
        </p>        
      </div>
    </div>
  </div>
</section>  
