<section class="favorites favorites-page">
  <div class="favorites__container">
    <h1 class="favorites-head">Favorites</h1>
    <div class="favorites-content">
      <load ="partials/quote-favorites.html" />
      <div class="exercises-partial">
        <ul
          class="favorites-cards list js-exercise-favorites categories_favorites_cards"
        ></ul>

        <div class="exercises-error-message">
          <p
            class="error-message error-message-fav visually-hidden js-favorites-error"
          >
            It appears that you haven't added any exercises to your favorites
            yet. To get started, you can add exercises that you like to your
            favorites for easier access in the future.
          </p>
        </div>
        <div class="favorites__pagination">
          <load ="partials/pagination.html" />
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="./js/favorites.js"></script>
</section>
