<header class="header">
  <div class="header__container">
    <div class="header__box">
      <div class="logo__icon">
        <a href="./index.html">
          <svg
            id="footer-logo-icon"
            width="132"
            height="24"
          >
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <nav class="navigation tablet-desktop">
        <ul>
          <li class="menu-link menu-link-home"><a href="./index.html">Home</a></li>
          <li class="menu-link menu-link-favorites"><a href="./favorites.html">Favorites</a></li>
        </ul>
      </nav>
      <div class="social-box">
        <ul class="social-list">
          <li>
            <a
              rel="noopener noreferrer"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              class="social-link"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              rel="noopener noreferrer"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              class="social-link"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              rel="noopener noreferrer"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
              class="social-link"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
        class="burger-menu-btn js-open-menu"
      >
        <svg width="24" height="24">
          <use href="./img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- mobile menu -->
  <div class="mobile-backdrop js-mobile-menu" id="mobile-menu">
    <div class="mobile-menu-container">
      <button
        class="close-menu-btn js-close-menu"
        type="button"
      >
        <svg width="16" height="16">
          <use href="./img/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <nav class="mobile-navigation">
        <ul class="mobile-navigation-list">
          <li class="menu-link"><a href="./index.html">Home</a></li>
          <li class="menu-link menu-link-navigation"><a href="./favorites.html">Favorites</a></li>
        </ul>
      </nav>
      <div class="mobile-social-box">
        <ul class="mobile-social-list">
          <li>
            <a
              rel="noopener noreferrer"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              class="mobile-social-link"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              rel="noopener noreferrer"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              class="mobile-social-link"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              rel="noopener noreferrer"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
              class="mobile-social-link"
            >
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
