<section class="home-section">
  <div class="home__container">
    <load ="partials/menu.html" />
    <div class="home__content">
      <div class="categories-pagination js-categories-pagination">
        <load ="partials/categories.html" />
        <load ="partials/pagination.html" />
        <p class="error-message visually-hidden js-categories-error">
          You don't seem to have any exercise to choose from.
        </p>
      </div>
      <load ="partials/quote-home.html" />
    </div>
  </div>
</section>
