<div class="menu">
  <div class="menu__exercises">
    <p class="menu__exercises-title js-refresh">Exercises</p>
    <p class="menu__exercises-title js-exercise-decor visually-hidden">/</p>
    <p class="menu__exercises-subtitle js-exercise"></p>
  </div>

  <div class="menu-search-box">
    <form id="menu-search" class="menu-search js-search visually-hidden">
      <input
        type="text"
        class="menu-search-input"
        name="search"
        autocomplete="on"
        placeholder="Search"
      />
      <button class="menu-search-btn" type="submit" id="searchButton">
        <svg
          id="menu-search-icon"
          class="menu-search-icon"
          width="18"
          height="18"
        >
          <use href="./img/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <ul class="categories__menu-list list js-categories-list">
      <li class="categories__menu-item current">Muscles</li>
      <li class="categories__menu-item">Body parts</li>
      <li class="categories__menu-item">Equipment</li>
    </ul>
  </div>
</div>
