<div id="Modal" class="main-modal-background">
  <div class="main-modal">
    <button class="main-modal-close" type="button">
      <svg class="main-modal-close-icon" aria-label="logo icon">
        <use href="./img/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="main-modal-main-container" id="exerciseDetails"></div>
    <div class="main-modal-btns-wrapper">
      <button class="main-modal-btn main-modal-fav-btn">
        <span class="main-modal-btn-text main-modal-fav-btn-text"
          >Add to favorites</span
        >
        <svg class="main-modal-heart-icon" aria-label="logo icon">
          <use href="./img/sprite.svg#icon-heart"></use>
        </svg>
      </button>
      <button class="main-modal-btn main-modal-rating-btn">
        <span class="main-modal-btn-text">Give a rating</span>
      </button>
    </div>
  </div>
</div>
