<div class="quote-section">
  <ul class="quote-section-list">
    <li class="quote-section-item quote-of-the-day">
      <svg
        id="icon-running-man"
        class="quote-running-icon"
        width="34"
        height="32"
      >
        <use href="./img/sprite.svg#icon-running-man"></use>
      </svg>
      <div class="quote-description">
        <div class="quote-title-wrapper">
          <h4 class="quote-section-item-title quote-text">Quote of the day</h4>
          <svg
            id="icon-inverted-commas"
            class="quote-inverted-commas-icon"
            width="20"
            height="20"
          >
            <use href="./img/sprite.svg#icon-inverted-commas"></use>
          </svg>
        </div>
        <p class="quote-section-item-text quote-text-grey">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="quote-section-item-name quote-text">Tom Brady</p>
      </div>
    </li>
    <li class="quote-section-item">
      <img src="" alt="" />
    </li>
    <li class="quote-section-item news-item">
      <svg
        id="icon-dumbbell"
        class="quote-dumbbell-icon"
        width="32"
        height="32"
      >
        <use href="./img/sprite.svg#icon-dumbbell"></use>
      </svg>
      <div class="quote-description">
        <h4 class="quote-section-item-title text-bg-color">110 min</h4>
        <p class="quote-section-item-text text-dark-grey">
          Daily norm of sports
        </p>
        <p class="quote-section-item-text text-bg-color">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div>
    </li>
  </ul>
</div>
