/* utils */
@import url('./utils/variables.css');

/* base */

@import url('./base/reset.css');
@import url('./base/typography.css');
@import url('./base/common.css');
@import url('./base/container.css');

/* layouts */
@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/footer.css');
@import url('./layout/favorites.css');

/* components */
@import url('./components/pagination.css');
@import url('./components/totopbutton.css');
